
<div class="absolute h-full w-full">
  <div class="h-full max-w-full overflow-hidden" data-flickity='{"lazyLoad":"1", "wrapAround":true, "cellAlign":true ,"contain":true, "groupCells":"true" }'>

    {% for image in heroSettings.carousel.images %}
      <div class="w-full h-full {{ heroSettings.bg.imagePosition or 'bg-center' }} bg-no-repeat bg-cover carousel-cell" style="background-image: url({{ image }});"></div>
    {% endfor %}

  </div>
</div>

{#   <div class="absolute flex flex-col h-full">
  {% include "components/hero-text-overlay.njk" %}
</div> #}