{% if transparentNav == true %}
  <div class="{{structure.nav_height_unscrolled}} flex-none invisible"></div>
{% endif %}

<div class="grow flex flex-col items-start justify-start {{ heroSettings.headingTextColor or 'text-white' }} {{ structure.g_pageWidth }}">
  <div class="flex-grow font-semibold leading-tight {{ heroSettings.headingTextCase }} mxsonly:text-2xl text-3xl sm:text-4xl md:text-6xl mt-4 sm:mt-6 md:mt-12 lg:mt-20 xl:mt-28 ">
    {% if typedJsStrings and typedJsBase %}
      {% typedjs typedJsStrings,
      typedJsBase %}
    {% else %}
      {{ heroSettings.headingText | renderInlineMarkdown  }}
    {% endif %}

  </div>
  <div class="mxsonly:my-4 my-8 sm:my-10 md:my-16 lg:my-24 xl:my-28 pr-12 text-2xl md:text-3xl lg:text-5xl mxsonly:font-light text-balance {{ heroSettings.subheadingTextColor }}">
    {{ heroSettings.subheadingText | renderInlineMarkdown }}
  </div>
  {% if heroSettings.buttonText %}
    <a href="{{ heroSettings.buttonURL }}" class="flex-none mb-16 sm:mb-16 font-semibold text-lg md:text-xl lg:text-2xl">
      {% ctaButton heroSettings.buttonText | renderInlineMarkdown %}
    </a>

  {% endif %}

</div>