<main class="absolute flex flex-col w-full h-full {{ heroSettings.bg.color or 'bg-white' }}">
  {% if transparentNav == true %}
    <div class="{{structure.nav_height_unscrolled}} flex-none invisible"></div>
  {% endif %}

  <div class="w-full  pt-16 pb-20 mx-auto text-center max-w-7xl lg:py-48 lg:text-left">
    <div class="px-4 lg:w-1/2 sm:px-8 xl:pr-16 ">
      <h2 class="text-4xl font-semibold leading-10 tracking-tight {{ heroSettings.headingTextColor or 'text-white' }} sm:text-5xl sm:leading-none md:text-6xl lg:text-5xl xl:text-6xl"
          >
        {{ heroSettings.headingText | safe }}
      </h2>
      <p class="max-w-md mx-auto mt-3 text-lg {{ heroSettings.subheadingTextColor }} sm:text-xl md:mt-5 md:max-w-3xl">
        {{ heroSettings.subheadingText | safe }}
      </p>
      {% if heroSettings.buttonText %}
        <div class="w-full mt-12 ">
          <a href="{{ heroSettings.buttonURL }}">
            {% ctaButton heroSettings.buttonText | renderInlineMarkdown %}

          </a>
        </div>
      {% endif %}

    </div>
  </div>
  <div class="relative w-full h-screen-1/2 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:h-full">
    <img
          class="absolute inset-0 object-cover w-full h-full"
          src="{{ heroSettings.bg.image }}"
          alt="Hero Image"
/>
  </div>
</main>