<div x-data="{}"
    x-init="$nextTick(() => {
        let ul = $refs.logos;
        ul.insertAdjacentHTML('afterend', ul.outerHTML);
        ul.nextSibling.setAttribute('aria-hidden', 'true');
    })"
    class="min-w-full inline-flex flex-nowrap overflow-hidden mask-linear-white">
    <ul x-ref="logos" class="shrink-0 list-none m-0 p-0 min-w-[75%] flex flex-nowrap items-center justify-center animate-infinite-scroll">
        {% for logo in memberLogos %}
            <li class="px-4 md:px-8">
                {% svg logo,
                "text-vs-blue-900 w-full max-w-48 min-w-20 sm:min-w-28 md:min-w-36",
                logo %}
            </li>
        {% endfor %}
    </ul>
</div>