{# <section class="mt-12"> #}
{# <div class="container px-5 pb-24 mx-auto"> #}
{# <div class="flex flex-wrap -mx-4 -mt-4 -mb-10 sm:-m-4"> #}
<div class="flex flex-wrap place-content-center">
  {% for post in postslist %}
    <div class="py-10 xl:py-2 px-4 md:w-1/2 xl:w-1/3 ">
      <div class="flex-shrink-0 h-48 overflow-hidden border border-gray-200 rounded-lg shadow-md hover:shadow-lg">
        <a class="relative group" href="{{ post.url | url }}">
          <img class="object-cover {{ post.data.images.align }} w-full h-48" src={% if post.data.images.thumb %}"/assets/images/{{ post.data.images.thumb }}"{% else %}"/assets/images/default-image-virtual-sports.webp"{% endif %} alt="{{ title }}">
          <button type="button" class="absolute hidden group-hover:block bottom-4 right-4 px-3 py-2 font-medium rounded-md {{ colors.buttonDefault.text or colors.buttonCustom.text }} {{ colors.buttonDefault.textHover or colors.buttonCustom.textHover }} {{ colors.buttonDefault.bg or colors.buttonCustom.bg }} {{ colors.buttonDefault.bgHover or colors.buttonCustom.bgHover }} {{ colors.buttonDefault.border or colors.buttonCustom.border }}">Read</button>
        </a>
      </div>
      <h3 class="mt-2 {{ colors.headingsCustom or colors.headingsDefault }}">
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h3>

      {# Used conditionals here to keep control at the template levels rather than at the component level.  #}
      {# Display the member block if structure.g_showAuthors is true (default) #}
      {% if structure.g_showAuthors %}
        {# Only display the member Block if there is a value for "member" in Post Frontmatter #}
        {% if post.data.author and post.data.author | length %}
          {% set authorIsMember = collections.member | authorIsMember(post.data.author) %}
          {# pass into include for dynamic layout for authors vs. members #}
          {# if the author is a member, display it differtly than an author that is not a member. Only members have a personal page, authors do not. Most often, authors are members of course. #}
          {% if authorIsMember %}
            {% set memberPost = collections.member | getMember(post.data.author) %}
          {% endif %}
          {% include "components/memberPostDate.njk" %}
        {% endif %}
      {% endif %}

      {# Display Post Excerpt if set 'true' in /src/_data/structure.js:g_showExcerpt  #}
      {% if structure.g_showExcerpt %}
        <div class="mt-2 {{ colors.excerptCustom or colors.excerptDefault }}">
          {{ post.data.excerpt }}
        </div>
      {% endif %}

      {# If you don't want to display the Tag Pills, set "false" in /src/_data/structure.js #}
      {% if structure.g_showTagPills %}
        {% if taglimit %}
          {% set tags = post.data.tags | getOnlyCustomTags | limit(taglimit) %}
          {# add one because first tag is always 'page' (or related) #}
        {% else %}
          {% set tags = post.data.tags | getOnlyCustomTags %}
        {% endif %}
        {% include "components/tagpills.njk" %}
      {% endif %}
    </div>
  {% endfor %}

</div>
{# </div>
</section> #}