<section class="mt-8">
  <div class="px-4 pb-12 sm:px-6 lg:pb-28 lg:px-8">
    <div class="mx-auto max-w-7xl">
      <div>
        {% for post in postslist | reverse %}
          <div class="pb-10">
            {# Post publish Date and member display conditional  #}
            <div class="text-sm {{ colors.authorCustom.date or colors.authorDefault.date }}">
              <time datetime="{{ post.data.date | dateToFormat("yyyy-MM-dd") }}">
                {{ post.data.date | dateToFormat("dd LLL yyyy") }}
              </time>
              {# Global disable member display in /src/_data/structure.js #}
              {% if structure.g_showAuthors %}
                <div class="{{ colors.authorCustom.name or colors.authorDefault.name }}">
                  {# Only display the member Block if there is a value for "member" in Post Frontmatter #}
                  {% if post.data.author and post.data.author | length %}
                    {% set authorIsMember = collections.member | isMember(post.data.author) %}
                    {# pass into include for dynamic layout for authors vs. members #}
                    {# if the author is a member, display it differtly than an author that is not a member. Only members have a personal page, authors do not. Most often, authors are members of course. #}
                    {% if authorIsMember %}
                      {% set memberPost = collections.member | getMember(post.data.author) %}
                      by <a class="hover:underline" href="/members/{{ post.data.author }}/">{{ memberPost.name }}</a>
                    {% else %}
                      <span>{{ post.data.author | unslugify }}</span>
                    {% endif %}
                  </div>
                {% endif %}
              {% endif %}

              {# Post Title  #}
              <a href="{{ post.url | url }}" class="block hover:underline">
                <h3 class="text-xl font-semibold leading-7 {{ colors.headingsCustom or colors.headingsDefault }}">
                  {{ post.data.title }}
                </h3>
              </a>

              {# Display Post Excerpt if set 'true' in /src/_data/structure.js:g_showExcerpt  #}
              {% if structure.g_showExcerpt %}
                <div class="{{ colors.excerptCustom or colors.excerptDefault }}">
                  {{ post.data.excerpt }}
                </div>
              {% endif %}

            </div>

          {% endfor %}
        </div>
      </div>
    </div>
  </section>