{# <section class="mt-12"> #}
{# <div class="relative px-4 pb-20 sm:px-6 lg:pb-28 lg:px-8"> #}
{# <div class="relative mx-auto max-w-7xl"> #}
<div class="grid gap-6 mx-auto md:grid-cols-2 xl:grid-cols-3 lg:max-w-none">
  {% for post in postslist %}
    <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
      <div class="flex-shrink-0">
        <a href="{{ post.url | url }}" class="relative group">
          <img class="{{ images.fit or 'object-cover' }} {{ post.data.images.align }} w-full h-48" src={% if post.data.images.thumb %}"/assets/images/{{ post.data.images.thumb }}"{% else %}"/assets/images/default-image-virtual-sports.webp"{% endif %} alt="{{ title }} Thumbnail">
          <button type="button" class="absolute hidden group-hover:block bottom-4 right-4 px-3 py-2 font-medium rounded-md {{ colors.buttonDefault.text or colors.buttonCustom.text }} {{ colors.buttonDefault.textHover or colors.buttonCustom.textHover }} {{ colors.buttonDefault.bg or colors.buttonCustom.bg }} {{ colors.buttonDefault.bgHover or colors.buttonCustom.bgHover }} {{ colors.buttonDefault.border or colors.buttonCustom.border }}">Read</button>
        </a>
      </div>
      <div class="flex flex-col items-start justify-between flex-1 px-4 py-2 bg-white">
        <div class="flex-1">
          <a href="{{ post.url | url }}" class="">
            <h3 class="text-xl font-semibold leading-7 {{ colors.headingsCustom or colors.headingsDefault }}">
              {{ post.data.title }}
            </h3>

            {# Display Post Excerpt if set 'true' in /src/_data/structure.js:g_showExcerpt  #}
            {% if structure.g_showExcerpt %}
              <div class="{{ colors.excerptCustom or colors.excerptDefault }}">
                {{ post.data.excerpt }}
              </div>
            {% endif %}

          </a>
        </div>

        {# Found the TagPills are too much for this layout. Uncomment them below if you want to display them. #}
        <div class="flex-1">
          {% if structure.g_showTagPills %}
            {% if taglimit %}
              {% set tags = post.data.tags | getOnlyCustomTags | limit(taglimit) %}
              {# add one because first tag is always 'page' (or related) #}
            {% else %}
              {% set tags = post.data.tags | getOnlyCustomTags %}
            {% endif %}
            {% include "components/tagpills.njk" %}
          {% endif %}
        </div>

        {# Used conditionals here to keep control at the template levels rather than at the component level.  #}
        {# Display the member block if structure.g_showAuthors is true (default) #}
        {% if structure.g_showAuthors %}
          {# Only display the member Block if there is a value for "member" in Post Frontmatter #}
          {% if post.data.author and post.data.author | length %}
            {% set authorIsMember = collections.member | authorIsMember(post.data.author) %}
            {# pass into include for dynamic layout for authors vs. members #}
            {# if the author is a member, display it differtly than an author that is not a member. Only members have a personal page, authors do not. Most often, authors are members of course. #}
            {% if authorIsMember %}
              {% set memberPost = collections.member | getMember(post.data.author) %}
            {% endif %}
            {% include "components/memberPostDate.njk" %}
          {% endif %}
        {% endif %}
      </div>
    </div>

  {% endfor %}
</div>
{# </div>
  </div>
</section> #}