---
layout: base
permalink: "/{{ page.date | dateToFormat('yyyy/MM/dd') }}/{{ title | slugify }}/index.html"
author: "{{ meta.authorURL }}" # post authors are different than members of the network. Only pages for members are generated, not for authors. Mostly, an author is also a member. default is meta data
---

<article class="{{ structure.g_pageWidth }}">

  <h1 class="{{ colors.headingsCustom or colors.headingsDefault }}">{{ seo.title or title }}</h1>
  <div class="text-sm">
    <time class="{{ colors.authorCustom.date or colors.authorDefault.date }}" datetime="{{ date | dateToFormat("yyyy-MM-dd") }}">
      {{ date | dateToFormat("dd LLL yyyy") }}
    </time>
    {# Global disable member display in /src/_data/structure.js #}
    {% if structure.g_showAuthors %}
      <div class="{{ colors.authorCustom.name or colors.authorDefault.name }}">
        {# Only display the member Block if there is a value for "member" in Post Frontmatter #}
        {% if post.data.author and post.data.author | length %}
          {% set authorIsMember = collections.member | isMember(post.data.author) %}
          {# pass into include for dynamic layout for authors vs. members #}
          {# if the author is a member, display it differtly than an author that is not a member. Only members have a personal page, authors do not. Most often, authors are members of course. #}
          {% if authorIsMember %}
            {% set memberPost = collections.member | getMember(post.data.author) %}
              by <a class="hover:underline" href="/members/{{ memberPost.slug }}/">{{ memberPost.name }}</a>
          {% else %}
            <span>{{ post.data.author | unslugify }}</span>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}

  </div>

  {{ layoutContent | safe }}

  {% if structure.g_showTagPills or structure.g_showSocialShareIcons %}
    <div class="pt-4 mt-12 border-t md:justify-between md:items-start md:flex md:flex-row">

      {# If you don't want to display the Tag Pills, set "false" in /src/_data/structure.js #}
      <div class="md:w-1/2">
        {% if structure.g_showTagPills %}
          {% include "components/tagpills.njk" %}
        {% endif %}
      </div>

      {# If you don't want to display Social Share icons, disable them in /src/_data/structure.js  #}
      <div class="px-2 pt-6 md:pt-2 md:w-1/2 md:flex md:justify-end">
        {% if structure.g_showSocialShareIcons %}
          {% include "components/socialshare.njk" %}
        {% endif %}
      </div>

    </div>
  {% endif %}

  {# ===== Previous and Next =====  #}
  <div class="border-t mt-4 pt-4 {{ colors.borderCustom.color or colors.borderDefault.color }} md:flex-row md:flex md:justify-between">
    {% set previousPost = collections.post | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.post | getNextCollectionItem(page) %}

    <div class="py-2 text-center sm:py-0">
      {% if previousPost %}
        <a class="{{ colors.prevNextCustom.text or colors.prevNextDefault.text }} {{ colors.prevNextCustom.text or colors.prevNextDefault.textHover }}" href="{{ previousPost.url }}">← {{ previousPost.data.title }}</a>
      {% endif %}
    </div>

    <div class="py-2 text-center sm:py-0">
      {% if nextPost %}
        <a class="{{ colors.prevNextCustom.text or colors.prevNextDefault.text }} {{ colors.prevNextCustom.text or colors.prevNextDefault.textHover }}" href="{{ nextPost.url }}">{{ nextPost.data.title }} →</a>
      {% endif %}
    </div>

  </div>

</article>