html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@tailwind base;

p a,
li a,
blockquote a,
dd a {
  @apply text-vs-blue-700;
}

@tailwind components;

@tailwind utilities;

/* custom classes */
.mask-linear-white {
  -webkit-mask-image: linear-gradient(to right, transparent 0, white 4rem, white calc(100% - 4rem), transparent 100%);
  mask-image: linear-gradient(to right, transparent 0, white 4rem, white calc(100% - 4rem), transparent 100%);
}

/* Flickity custom */
.flickity-button {
  @apply bg-gradient-to-r from-vs-yellow-400 to-vs-yellow-600 text-white !important;
}

.flickity-button:hover {
  @apply hover:from-vs-yellow-500 hover:to-vs-yellow-700 !important;
}

.flickity-prev-next-button {
  @apply w-10 h-10 !important;
}
