html {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@tailwind base;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold text-gray-700;
}

/* For .md content in blogs use default margin for headers, not on other (often NJK) pages */
.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
  @apply font-sans;
}

.md h1 {
  @apply mt-8;
}
.md h2 {
  @apply mt-6;
}
.md h3 {
  @apply mt-4;
}
.md h4 {
  @apply mt-4;
}
.md h5 {
  @apply mt-4;
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply pt-12 text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
h5 {
  @apply text-lg;
}
p a,
li a,
blockquote a,
dd a {
  @apply font-medium text-vs-blue-700;
}
p {
  @apply mt-4;
}
.wrapper > p:first-of-type {
  @apply p-0 m-0;
}

ol {
  @apply pt-4 ml-8 list-decimal;
}
ul {
  @apply pt-4 ml-8 list-disc;
}
blockquote {
  @apply pl-4 m-4 border-l-4 border-gray-500;
}
code {
  @apply p-1 text-sm bg-gray-200 border border-gray-300 rounded-lg;
}
pre code {
  @apply bg-transparent border-0 rounded-none;
}

@tailwind components;

@tailwind utilities;

/* custom classes */
.mask-linear-white {
  -webkit-mask-image: linear-gradient(to right, transparent 0, white 4rem, white calc(100% - 4rem), transparent 100%);
  mask-image: linear-gradient(to right, transparent 0, white 4rem, white calc(100% - 4rem), transparent 100%);
}

/* Flickity custom */
.flickity-button {
  @apply bg-gradient-to-r from-vs-yellow-400 to-vs-yellow-600 text-white !important;
}

.flickity-button:hover {
  @apply hover:from-vs-yellow-500 hover:to-vs-yellow-700 !important;
}

.flickity-prev-next-button {
  @apply w-10 h-10 !important;
}
