---
title: About Virtual Sports # will be overwritten by SEO.title below
date: 2024-04-28
layout: page
eleventyNavigation:
  key: about
  parent: nav
  title: About # as it will appear in the nav
  order: 2 # order to display in the nav
seo:
  title: # overrides 'title' above on both Page and META
  description:
  image:
---

{% explainerVideoRight "What Are virtual sports?", "virtual-sports-explainer-virtual-cycling", "Virtual Sports example: Virtual Cycling using Wahoo RGT", "Source: Wahoo RGT" %}
<p>Virtual sports are <b>mixed reality sports games</b> using interactive peripheral sport equipment. Virtual Sports can best be thought of to<b>
    <i>extend</i> an existing sport</b>. One would still perform the actual sports, but enhanced or mediated by technology.</p>
<p>Virtual Sports are not bound to virtual reality. They can also be practised using LED projections (augmented reality) or smart equipment (pods, trainers).</p>
<p>Let's take the example of virtual cycling. <b>Would you consider this as exergaming or rather as eSports?</b> Both approaches can in fact be true. On the one hand, one can argue that virtual cycling is exergaming because you're playing a game based on physical input. 
      On the other hand, one can argue that virtual cycling is eSports because it can be used in competitive gaming tournaments such as the <a href="https://www.uci.org/discipline/cycling-esports/5awP766tEGOobRlwSdHBDs?discipline=CES">UCI Cycling eSports championships</a>.</p>
{% endexplainerVideoRight %}

<section class="flex flex-col sm:flex-row-reverse [&_p]:text-xl [&_p]:mb-4 sm:gap-x-8 mb-4 sm:mb-8 lg:mb-16 xl:mb-24">
  <div class="grow sm:basis-7/12 ">
    <h3 class="text-3xl mt-6 sm:mt-0 mb-3 font-semibold text-vs-blue-900">Categorising <i>games in sports</i> or <i>Sports in games</i>
    </h3>
    <p>Two categories of games in sports are often used: exergames and eSports. While this categorisation might not seem relevant at first sight, having a <b>general consensus</b> on what kind of category such sports and games belong to, can be relevant and beneficial.
    For example, sport federations or sport governing bodies can be allowed to invest in sports, but not in eSports or competitive gaming. If virtual cycling <b>were to be labelled as eSports, sport organisations might miss opportunities</b> of using virtual cycling for improving sports practices, as its label of 'eSports' could hinder funding applications or further consideration in general.
    </p>
    <p>We argue that Virtual Sports should be <b>labelled separately</b>, and not (only) be labelled using eSports, exergaming, 'physical' eSports or any other labels used.
    This will allow to <b>avoid connotations</b> that are linked to eSports (e.g., only gaming and not sports, gender-issues, shooting-games...) or connotations linked to exergames (e.g., rather play than performing sports, not to be taken serious, Wii console...).
    Nevertheless, these labels should not be mutually exclusive. If a virtual sport allows for it, it can still be organised as an eSports tournament and be called that way (e.g. <a href="https://supertri.com/">Super Tri E</a>).
    </p>
    <p>In other words: <b>Virtual sports can always be eSports or exergames, but eSports or exergames cannot always be Virtual Sports</b>. Virtual sports are thus a more specific label so that we know what kind of <i>games in sports</i> or <i>sports in games</i> we are talking about.
</p>
  </div>
  <div class="grow sm:basis-5/12 content-center">
    <div class="flex justify-end flex-row gap-x-4 md:px-4 text-xl lg:text-2xl font-semibold text-vs-blue-900">
      <div class="self-center">
        Use gamification
      </div>
      <div class="h-64 lg:h-80 min-w-16 md:min-w-20">
        {% svgViewBox "cotinuum-brace", "w-full h-full text-vs-blue-700", "Continuum arrow with curly brace", "0 0 211 750" %}
      </div>
      <div class="flex flex-col items-start justify-between">
        <div class="px-2 py-1 text-center rounded-md bg-gradient-to-r from-vs-yellow-400 to-vs-yellow-600">
          eSports</div>
        <div class="px-2 py-1 text-2xl lg:text-3xl text-center rounded-md bg-gradient-to-r from-vs-yellow-400 to-vs-yellow-600">
          Virtual Sports</div>
        <div class="px-2 py-1 text-center rounded-md bg-gradient-to-r from-vs-yellow-400 to-vs-yellow-600">
          Exergames</div>
      </div>
    </div>
  </div>
</section>

{% explainerVideoRight "Opportunities of Virtual Sports",
"virtual_sports_explainer_augmented_pingpong",
"Virtual Sports example: Augmented Ping Pong",
"Source: Nicolas Gaudelas - FFTT" %}

<p>Virtual sports can be used in many ways that bring new opportunities compared to eSports and Exergames. Virtual sports can be regarded as more than just gaming. In fact, the game is a means to achieve other potentials in and through sports.</p>
<ul class="list-disc list-inside text-xl">
 Virtual sports can be...
  <li>New sports service by sports clubs to its members</li>
  <li>New ways of practising sporting skills and techniques</li>
  <li>New competition formats from leisure to elite level</li>
  <li>New ways to stay connected through sports via online platforms</li>
  <li>New ways to attract a different audience to a sport and retain people in the sport</li>
</ul>
{% endexplainerVideoRight %}

{% explainerVideoLeft "Exergames", "virtual-sports-explainer-augmented-climbing-wall", "Virtual Sports example: augmented climbing wall", "Source: Aalto University - Valo Motion" %}

<p>Most examples of Virtual Sports are (still) mostly related to exergames, where the focus is on applying gamification elements to a sport or physical activity to keep people motivated to practice (or 'play') these. For example, the augmented climbing wall from Valo Motion.
  Virtual Sports are in continuous development, however. They can originate as exergames but move up the exergame-eSports continuum and develop into an eSports competition (e.g. Zwift Competitions).</p>
<p>If and how exergames develop into Virtual Sports or eSports, highly depend on the technological developments (how practical, accessible, accurate is the technology?) and 
  how sport governing bodies pick up these developments and start supporting, regulating and organising them (e.g. World Triathlon and UCI have done so for virtual cycling and running). As to leverage the opportunities of Virtual Sports, further research is needed on how (exer)games develop into virtual sports.</p>

{% endexplainerVideoLeft %}

{% explainerVideoRight "Are eSports sports? Are Virtual Sports sports?", "virtual-sports-explainer-esports", "eSports example", "Source: RODNAE Media" %}

<p>There is an ongoing debate amongst sport (management) scholars if eSports should be considered as sports by broader society.</p>
<blockquote class="ml-4 pl-4 mb-4 border-l-4 border-gray-200 text-xl">
  <i>"It appears that eSports include play and competition, are organized by rules, require skill, and have a broad following. However, eSports currently lacks great physicality and institutionalization."</i>
  <a href="https://doi.org/10.1080/00336297.2016.1144517">(p.15, Jenny et al., 2017)</a>
</blockquote>
<p>Considering virtual sports as a distinct category of gaming in sport, brings new perspectives to these debates. Physicality and institutionalization are both far more explicitly addressed by virtual Sport compared to eSports. Still, Virtual Sports can sometimes be regarded and organised as eSports.
</p>
<p>
  <b>Therefore, refining the definition of exergames and eSports by adding Virtual Sports brings new perspectives and debates to the sports sector and academia, while convincing the majority of society that virtual sports can be authentic versions of sport.</b>
</p>

{% endexplainerVideoRight %}