---
title: About Virtual Sports # will be overwritten by SEO.title below
date: 2020-08-05
layout: page
eleventyNavigation:
  key: about
  parent: nav
  title: About # as it will appear in the nav
  order: 2 # order to display in the nav
seo:
  title: # overrides 'title' above on both Page and META
  description:
  image:
---
{% explainerVideoRight "What Are Virtual Sports?", "virtual-sports-explainer-virtual-cycling.mp4", "Virtual Sports example: Virtual Cycling using Wahoo RGT", "Source: Wahoo RGT" %}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo tempora odit illo maxime accusantium, quasi quisquam rem repellat, esse voluptates architecto aspernatur ipsum provident, voluptas temporibus ipsam magni fuga ipsa.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis nisi ipsam, ex facere voluptas cum! Quia voluptate doloribus iste et ducimus? Ducimus maxime placeat sit esse dolorum et dolorem cum.</p>

{% endexplainerVideoRight %}

{% explainerVideoLeft "Why are virtual Sports different?", "virtual-sports-explainer-augmented-wall-climbing.mp4", "Virtual Sports example: Augmented Wall Climbing", "Source: Canva" %}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo tempora odit illo maxime accusantium, quasi quisquam rem repellat, esse voluptates architecto aspernatur ipsum provident, voluptas temporibus ipsam magni fuga ipsa.</p>

{% endexplainerVideoLeft %}

{% explainerVideoRight "What Are Virtual Sports?", "virtual-sports-explainer-augmented-ballet.mp4", "Virtual Sports example: Virtual Cycling using Wahoo RGT", "Source: Wahoo RGT" %}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo tempora odit illo maxime accusantium, quasi quisquam rem repellat, esse voluptates architecto aspernatur ipsum provident, voluptas temporibus ipsam magni fuga ipsa.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis nisi ipsam, ex facere voluptas cum! Quia voluptate doloribus iste et ducimus? Ducimus maxime placeat sit esse dolorum et dolorem cum.</p>

{% endexplainerVideoRight %}