---
permalink: /authors/
layout: page
title: All Authors
eleventyNavigation:
  key: authorList
  parent: footer
  title: All Authors 
  order: 1 
---

<div class="mt-6">
  {% set authorslist = authors %}
  {% include "components/authorslistcards.njk" %}
</div>