---
title: Blog Posts
date: 2024-04-28
description: The Posts List display is controled in /src/_data/structure.js and ships with 4 options.
layout: page
eleventyImport:
  collections: ["post"]
eleventyNavigation:
  key: blog
  parent: nav
  title: Blog #  as it will appear in the nav
  order: 3    # order to display in the nav
seo:
  title: 
  description: Blog posts about virtual sports and social sport innovation
pagination:
  data: collections.post
  size: 12
  reverse: true
  alias: posts
  addAllPagesToCollections: true
permalink: "blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
eleventyComputed:
  dateModified: "{{collections.post | getMostRecentPost | getProp('data.date') | dateToFormat('yyyy-MM-dd')}}"
---
{% set postslist = posts %}
{# 
  Allows a user to easily change the Tag List Style.
  Please see instructions in /src/_data/structure.js >>> ===== Post List Style Options =====
#}
{% set postlist = ['components/', structure.postListStyle, '.njk'] %}
{% include postlist | join %}

{# ===== Paginate based on "size" frontmatter value above =====  #}
{# Don't even include the pagination component if there are fewer posts than needed to paginate  #}
{% if collections.post.length > pagination.size %}
  {% include "components/pagination.njk" %}
{% endif %}