---
  permalink: feed.xml
  eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ meta.lang | default('en') }}">
  <title>{{ meta.siteName }}</title>
  <subtitle>{{ meta.siteDescription }}</subtitle>
  <link href="{{ meta.siteURL | addPathPrefixToFullUrl }}"/>
  <link href="{{ permalink | htmlBaseUrl(meta.siteURL)  }}" rel="self"/>
  <updated>{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ meta.siteURL | addPathPrefixToFullUrl }}</id>
  <author>
    <name>{{ meta.authorName }}</name>
    <email>{{ meta.authorEmail }}</email>
  </author>
  {%- for post in collections.post | reverse%}
    {% set absolutePostUrl %}{{ post.url | htmlBaseUrl(meta.siteURL) }}{% endset %}

    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ post.date | dateToRfc3339  }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content type="html">{{ post.content | renderTransforms(post.data.page, meta.siteURL) }}</content>
    </entry>
  {%- endfor %}
</feed>