---
# This is a full listing of available Frontmatter options, available for any content (.md) file.
title: Virtual Sports - Research Network and scientific insights on virtual sports 
date: 2024-04-28
layout: base #set the home page with a different layout as it is not a 'normal' page, we want some extra custimisation here
tags: pages
excerpt: Virtual sports are mixed reality games that are intertwined with physical sports, made possible through interactive technology. Our Virtual Sports Research Network bundles academic expertise and provide insights on their potential impact
author: thibault-fouquaert # this is a slug, same slug as the member. If the author is not a member, can be an author slug (that gets unslugified) or just full name. Only displayed on Post lists and detail views. Defaults to _data/meta.authorURL
eleventyImport:
  collections: ["post","member"]
eleventyNavigation: # Required if want to display in Main Nav Bar
  key: main # "main" is required
  parent: nav
  title: Home # as it will appear in the nav
  order: 1 # order to display in the nav (index = 1)
seo: # SEO values are used for OG and will overwrite 'title' and 'excerpt' above
  title:
  description:
  image: # used for OG:image and Twitter:image. Overrides default set in _data/meta.siteImage
transparentNav: true  # often to be used when the navbar should be transparent because of the hero options: carousel, graphic, video, split (text & image)
hero: video # graphic # options: carousel, graphic, video, split (text & image)
heroSettings:
  height: # options are Tailwind classes and custom tailwind classes (default = full screen minus navbar) e.g. h-svh, h-screen-1/2, h-screen-1/3, h-screen-3/4, h-screen-9/10, h-48 (12rem, 192px), h-56 (14rem, 224px), h-64 (16rem, 256px)
  bg:
    color: # default bg-black
    image: # home/plane.jpg # 
    imagePosition: # options = bg-center (default), bg-left, bg-right
    video: # always provide a mp4 and webm optimized file format. These are muted video's so the audio codec is absent.
      mp4: /assets/video/home/bg-video-virtual-sports.mp4
      webm: /assets/video/home/bg-video-virtual-sports.webm
      poster: /assets/video/home/poster-bg-video-virtual-sports.webp
    opacityMobile: opacity-50 # options opacity-n, 5, 10, 15, 20, 25, 50, 75, 100 (default)
    opacityDesktop: md:opacity-60 # Leave blank to inherit opacityMobile, use same options as opacityMobile
    attachment:   # bg-fixed, bg-local, bg-scroll
  headingText: What are Virtual Sports?
  headingTextColor: # default = text-white (can use any TailwindCSS)
  headingTextCase: # default = as typed - options: uppercase, lowercase, capitalize
  subheadingText: Science Communication and Research Network on Virtual Sports.
  subheadingTextColor: # Leave empty to inherit headingTextColor or default (text-white) or use any Tailwind color
  buttonText: 'Tell me more :eyes:' # no button generated if left blank
  buttonURL: '#ready-to-learn-more-about-virtual-sports' # full url required. Example: https://thisdomain.com/somepage/
  buttonTextColor: # leave blank to inherit from /src/_data/colors.buttonCustom or buttonDefault
  buttonBgColor: # leave blank to inherit from /src/_data/colors.buttonCustom.bg or buttonDefault.bg
  buttonBgHover: # leave blank to inherit from /src/_data/colors.buttonCustom.bgHover or buttonDefault.bgHover
  buttonBorder: # leave blank to inherit from /src/_data/colors.buttonCustom.border or buttonDefault.border
  carousel: #use Arrays of unnamed Objects
    - image: /assets/images/default-image-virtual-sports.webp
      text: "Hello world"
      textClass: "text-vs-yellow-300"
    - image: /assets/images/members/thibault-fouquaert.webp
      text: "Hello world 2"
      textClass: "text-vs-blue-300"
    - image: /assets/images/members/looking-for-expert.webp
      text: "Hello world 3"
      textClass: "text-red-300"
taglimit: 10
eleventyComputed:
  dateModified: "{{collections.all | getMostRecentPage | getProp('page.date') | dateToFormat('yyyy-MM-dd')}}"
# Homepage only front matter ---
svgRelativePaths: #append the spritemap with memberlogo for homepage, relative to src/assets/svg
  - /memberLogos 
postsListStyle: postslistthumbs # postslistcards
typedJsStrings:
  - "gamified traditional sports."
  - "new competition formats."
  - "opportunities for participation."
  - "physically challenging."
  - "more than exergames."
typedJsBase: "Virtual Sports are "
memberLogos: #add the filenames of the logo's of members to be included below
  - Nord_universitet_logo
  - logo_UGent_EN
  - university-of-munster
  - newcastle-university
  - university-of-warsaw
  - hec-liege
  - howest-university-applied-science
  - han
  - qatar-university
  - hamburg-university
  - bournemouth-university
homePageMembersSlugsSorted: #array of the slugs IN ORDER of members to be listed on the homepage.
  - thibault-fouquaert
  - anne-tjonndal
  - daniel-westmattelmann
  - andrew-richardson
  - bryce-dyer
  - lucas-gobeler
  - willem-standaert
  - grzegorz-botwina
  - charlotte-van-tuyckom
  - christopher-schwenker
  - thomas-ross-griffin
  - looking-for-experts
---

<section class="relative">
  <img class="absolute top-0 left-0 w-full opacity-30 -z-10" src="/assets/images/home/virtual-sports-dots-bg.svg" loading="lazy" alt="background connected dots"/>
  <div class="max-w-screen-2xl mx-4 lg:mx-8 2xl:mx-auto pb-10 lg:pb-14 mt-0 lg:mt-0 pt-20 lg:pt-40">
    {% heading "Ready to learn more about Virtual Sports?"%}
    <div class="flex flex-wrap">
      <div class="sm:w-7/12 p-2 sm:mb-8 text-gray-800 text-balance [&>p]:mb-4 [&>p]:text-lg md:[&>p]:text-xl">
        <h3 class="text-3xl {{ colors.headingsCustom or colors.headingsDefault }} font-bold mb-2">The emergence of sports alike exergames and physical active eSports</h3>
        <p class="2xl:backdrop-blur-sm">
          eSports are often contested upon in the sports sector due to its lack of sports-alike physicality. 
          <b>A new type of exergames and eSports are emerging, however. These are increasingly physical and sports alike in nature.</b> Imagine how Zwift compares to road cycling, or Virtual rowing to outdoor rowing. 
        </p>
        <p>
          <b>Virtual Sports are unique</b> in that <a href="/about">they are in between exergames and eSports</a>. 
          Virtual Sports combine (1) the technological mediated nature of eSports, (2) the institutionalised and physical nature of sports, and (3) the gamified nature of Exergames.
          </p>

      </div>
      <div class="flex items-center w-full sm:w-5/12 p-2">
        {% svg "virtual-sports-landing1", "w-full sm:max-h-64 mx-auto", "Virtual Sports explainer" %}
      </div>
    </div>
    <div class="flex flex-wrap flex-col-reverse sm:flex-row">
      <div class="w-full flex items-center sm:w-5/12 p-2 sm:mt-6">
        {% svg "virtual-sports-landing2", "sm:h-64 w-full mx-auto", "Virtual Sports explainer" %}
      </div>
      <div class="w-full sm:w-7/12 p-2 sm:mt-6">
        <div class="align-middle [&>p]:mb-4 [&>p]:text-lg md:[&>p]:text-xl text-balance text-gray-800">
          <h3 class="text-3xl {{ colors.headingsCustom or colors.headingsDefault }} font-bold leading-none mb-3">
            A growing interest in Virtual Sports
          </h3>
          <p>Because of Virtual Sports' unique and innovative nature, there is a growing interest in Virtual Sports.
            <b>The mission of this science communication blog and research network is to address this interest.</b>
          </p>
          <p>Our aims are (1) to set a name for the Virtual Sports 'label' as a new type of physical and sports-alike (eSports) games, 
            (2) to inform people on the perspectives and debates virtual sports brings to the sports sector and academia, 
            and (3) to connect academics with expertise in virtual sports into a network that is reachable for everyone interested.</p>

        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center mx-6 md:mx-0">
    <a href="/about">
      {% ctaButton "More About Virtual Sports :bulb:" | renderInlineMarkdown %}
    </a>

  </div>
</section>

<section>
  <div class="{{structure.g_fullpageSectionWidth}}">
    {% heading "Most Recent Blog Posts"%}

    <div class="mx-auto max-w-full pb-10 lg:pb-14">
      {% set postlistData = collections.post | reverse | limit(3) %}
      {% set postlistComponent = ['components/', postsListStyle, '.njk'] %}
      {% include postlistComponent | join %}
    </div>
    <div class="flex justify-center mx-6 md:mx-0">
      <a href="/blog">
        {% ctaButton "Read All Blog Posts :newspaper:" | renderInlineMarkdown %}
      </a>

    </div>
  </div>
</section>

<section >
  <div class="{{structure.g_fullpageSectionWidth}}">
    {% heading "Virtual Sports Research Network", "Connecting expertise from leading academics & experts"%}

    <div class="mx-auto max-w-full pb-10 lg:pb-14">
      {% set memberslist = collections.member | getHomepageExperts(homePageMembersSlugsSorted) %}
      {% include "components/memberslistcards.njk" %}
    </div>
    <div class="flex flex-col items-center gap-y-8 mx-6 md:mx-0">
      <a href="mailto:thibault.fouquaert@ugent.be?subject=Member application for the Virtual Sports Research Network">
        {% ctaButton "Interested in the Network? Get in Touch! :envelope:" | renderInlineMarkdown %}
      </a>
      <a href="/members">
        {% ctaButton "See All Netwok Members :eyes:" | renderInlineMarkdown %}
      </a>
    </div>
  </div>
</section>

<section>
  <div class="{{structure.g_fullpageSectionWidth}}">
    {% heading "Universities Involved" %}

    <div class="pb-10 lg:pb-14">
      {% include "components/memberLogos.njk" %}
    </div>
  </div>
</section>

{% set jsTyped %}
{% include "src/assets/js/jsTyped.js" %}
{% endset %}
<script>
  {{ jsTyped | jsmin | safe }}
</script>