---
permalink: members/
layout: page
title: All Members
eleventyNavigation:
  key: membersList
  parent: footer
  title: All Members 
  order: 1 
eleventyImport:
  collections: ["member"]
---

<div class="mt-6">
  {% set memberslist = collections.member %}
  {% include "components/memberslistcards.njk" %}
</div>