---
permalink: members/
layout: page
date: 2024-04-28
title: Virtual Sports Research Network
subtitle: Connecting expertise from leading academics
eleventyNavigation:
  key: membersList
  parent: nav
  title: Network
  order: 4
eleventyImport:
  collections: ["member"]
eleventyComputed:
  dateModified: "{{collections.member | getMostRecentPage | getProp('page.date') | dateToFormat('yyyy-MM-dd')}}"
---
<p class="mb-8 md:mb-16 text-center text-balance text-lg md:text-xl">
  We connect both academics and experts closely related with academia who have expertise in virtual sports. We aim to foster future collaboration and provide an accessible overview of academics and experts in the domain of virtual sports. 
  Below, you find an overview (in chronological joining order {{ ':wink:' | renderInlineMarkdown }} ) of all members associated with the Virtual Sports Research Network and their direct contact information. Are you interested in joining the network? <a href="/contact">Get in touch!</a>
</p>
<div>
  {% set memberslist = collections.member | sort(false, false, "data.date") %}
  {% include "components/memberslistcards.njk" %}
</div>