---
permalink: tags/
layout: page
title: All Tags
eleventyNavigation:
  key: tagsList
  parent: footer
  title: All Tags 
  order: 1
eleventyImport:
  collections: ["tag"]
---

<div class="mt-6">
  {% set tags = collections.all | getAllTags | getOnlyCustomTags %}
  {% include "components/tagpills.njk" %}
</div>