<footer class="{{ colors.footerCustom.barBg or colors.footerDefault.barBg }}">
  <div class="container mx-auto ">
    <div class="flex flex-col items-center w-full my-20">
      <div class="mb-8 py-2 md:py-0 h-12 w-full">
        <a
                    aria-label="Desktop Logo Virtual Sports"
                    href="/"
                    class="{{colors.logoCustom.desktop or colors.logoDefault.desktop }} {{colors.logoCustom.hover or colors.logoDefault.hover }}"
                    alt=" Logo Virtual Sports">
          {% svg "virtual-sports-banner-logo-gradient", "flex justify-start h-full w-full drop-shadow-md {{ colors.logoCustom.hover or colors.logoDefault.hover }}", "Virtual Sports Logo" %}

        </a>
      </div>
      {% if structure.g_showFooterNav %}
        <div class="mb-8 px-20 lg:px-0 w-full flex flex-wrap items-center justify-center gap-4 lg:gap-12 lg:flex-nowrap text-gray-300 text-lg md:text-sm">
          {% set navPagesNav = collections.pages | eleventyNavigation('nav') %}
          {% for entry in navPagesNav %}
            <a href="{{ entry.url | url }}" alt="Link to {{ entry.title }}" class="hover:text-white">
              {{ entry.title }}
            </a>
          {% endfor %}
          {% set navPagesFooter = collections.pages | eleventyNavigation('footer') %}
          {% for entry in navPagesFooter %}
            <a href="{{ entry.url | url }}" alt="Link to {{ entry.title }}" class="hover:text-white">
              {{ entry.title }}
            </a>
          {% endfor %}
        </div>
      {% endif %}

      <div class="mb-8 px-20 sm:px-10 lg:px-0 text-center text-balance {{ colors.footerCustom.text or colors.footerDefault.text }}">&copy; {{ build.timestamp | dateToFormat('yyyy') }} | {{ meta.siteName }} | {{meta.siteDescription}}</div>
      <div class="w-full max-w-xl flex flex-row px-8 lg:px-0 text-justify items-center {{ colors.footerCustom.text or colors.footerDefault.text }}">
        {% svgViewBox "logo_UGent_white_EN",
                "min-w-32 md:min-w-36 lg:min-w-40 xl:min-w-44 w-full",
                "Logo Ghent University",
                "0 0 142 113" %}
        <div class="grow">The Virtual Sports science communication website and Virtual Sports Research Network is an initiative 
          that is originally rooted in the research of <a class="underline" href="https://www.sportmanagementugent.com/">Sport Management Research Group</a> at Ghent University (Belgium).</div>
      </div>

    </div>
  </div>
</footer>